@model PlanetReview.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />

    @*Thumbnail Display for selected item's Details*@
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="" alt="">
                <div class="caption">
                    <h3>@Html.DisplayFor(model => model.Title)</h3>
                    <h4>@Html.DisplayFor(model => model.Category.PlanetName)</h4>
                    <p>@Html.DisplayFor(model => model.Rating)</p>
                    <p>@Html.DisplayFor(model => model.Content)</p>
                    <p>@Html.DisplayFor(model => model.PublishDate)</p>
                    @*perhaps a button here? To either return to previous page or to go to Planet navigation. @Html.ActionLink("Back to List", "Index")*@
                </div>
            </div>
        </div>
    </div>

    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.PlanetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.PlanetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
