@model IEnumerable<PlanetReview.Models.Review>

@{
    ViewBag.Title = "Index";
}

@*The top of the page plus Create New Button*@
<div class="jumbotron" id="reviews">
    <h1>Rear View Planet</h1>
    <p>reviews</p>
    <p class="clickable">@Html.ActionLink("Add New RearView", "Create", new { @class = "btn btn-primary", role = "button" })
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail">
                @*This is space for a cycle-through image*@
                <div class="caption" id="reviewcard">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <h4>@Html.DisplayFor(modelItem => item.Category.PlanetName)</h4>
                    <p>
                        @if (item.Rating == 1)
                        {
                            <div><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                        }
                        else if (item.Rating == 2)
                        {
                            <div><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                        }
                        else if (item.Rating == 3)
                        {
                            <div><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                        }
                        else if (item.Rating == 4)
                        {
                            <div><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                        }
                        else if (item.Rating == 5)
                        {
                            <div><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Rating)
                        }
                    <p>@Html.DisplayFor(modelItem => item.PublishDate)</p>
                    <p>@Html.ActionLink("Read More", "Details", new { id = item.ID }, new { @class = "btn btn-primary", role = "button" })</p>
                </div>
            </div>
        </div>

    }
</div>




